.team-roster {

  .even * {
    color:var(--ion-color-light);
  }
  .header {
    .team-name {
      --padding-start: 8px;
      color:var(--ion-color-light);
      font-weight: 700;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      // white-space: pre-wrap;
      // display: inline-table;
      ion-label {
        margin-right: 0;
        white-space: pre-wrap;
      }
    }
  }

  .players {
    ion-col {
      text-align: center;
    }
    .player-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      display: inline-table;
    }
    .on-the-spot {
      &.even {
        background-color: var(--ion-color-success);
      }
      &.odd {
        background-color: var(--ion-color-tertiary);
      }
    }
  }
  .section-divider {
    padding-top: 36px;
  }

}

.button-over-dark {
  // --box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
  --box-shadow: 0 3px 1px -2px rgba(255,255,255,0.5),0 2px 2px 0 rgba(255,255,255,0.4),0 1px 5px 0 rgba(255,255,255,0.4);
}

.switch-player {
  .caption {
    display: block;
    width: 100%;
    text-align: center;
  }
  p {
    color: var(--ion-color-light);
  }
  .play-as-button {
    max-width: 80%;
  }
}



@media (max-width: 576px) {
  .header .team-name {
    font-size: smaller;
  }
  .players ion-col {
    &.even {
      text-align: left !important;
    }
    &.odd {
      text-align: right !important;
    }
  }
}
