.team-roster {

  .even * {
    color:var(--ion-color-light);
  }
  .header {
    .team-name {
      --padding-start: 8px;
      color:var(--ion-color-light);
      font-weight: 700;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      // white-space: pre-wrap;
      // display: inline-table;
      ion-label {
        margin-right: 0;
        white-space: pre-wrap;
      }
    }
  }

  .players {
    ion-col {
      text-align: center;
    }
    .player-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      display: inline-table;
    }
    .on-the-spot {
      &.even {
        background-color: var(--ion-color-success);
      }
      &.odd {
        background-color: var(--ion-color-tertiary);
      }
    }
  }

}

@media (max-width: 576px) {
  .header .team-name {
    font-size: smaller;
  }
  .players ion-col {
    &.even {
      text-align: left !important;
    }
    &.odd {
      text-align: right !important;
    }
  }
}
