.team-roster {
  .header, .players {
    text-align: center;
  }
  .even * {
    color:var(--ion-color-light);
  }
  .team .team-name {
    color:var(--ion-color-light);
    font-weight: 700;
  }

  .players {
    ion-badge.player {
      vertical-align: middle;
      --padding-start: 20px;
      --padding-end: 20px;
    }
    .on-the-spot {
      &.even {
        background-color: var(--ion-color-success);
      }
      &.odd {
        background-color: var(--ion-color-tertiary);
      }

    }
  }

}