<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Game Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- grid mode -->
  <ion-grid no-padding>
    <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" offset-x="4" size-xl="4">
          <ion-card  *ngIf="game">
            <ion-card-header color="tertiary">
              <ion-card-title>
                {{game.label}}
              </ion-card-title>
              <ion-card-subtitle>
                Game Settings
              </ion-card-subtitle>
            </ion-card-header>
            
            <ion-card-content>

              <ion-chip class="copy-paste-url ion-margin-vertical" *ngIf="inviteLink">
                <ion-label>
                  <ion-note color="dark"><strong>Invite your friends</strong></ion-note>
                  <br />
                  <ion-note>Share this link with your friends</ion-note>
                  <pre class="url-wrap force-select-all">
                    {{inviteLink}}
                  </pre>
                </ion-label>
              </ion-chip>            


            <form [formGroup]="entryForm" (ngSubmit)="doSubmit()">


              <div formGroupName="game" *ngIf="isModerator()">

                <ion-item class="input-item">
                  <ion-label position="stacked">Game Title</ion-label>
                  <ion-input type="text" placeholder="A super-fun title" formControlName="label" clearInput autocapitalize="words" inputmode="text"></ion-input>
                </ion-item>
                <div class="error-container">
                  <ng-container *ngFor="let validation of validation_messages.label">
                    <div class="error-message" *ngIf="gameForm.get('label').hasError(validation.type) && (gameForm.get('label').dirty || gameForm.get('label').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      <span>{{ validation.message }}</span>
                    </div>
                  </ng-container>
                </div>

                <ion-item class="input-item">
                  <ion-label position="stacked">Start Time</ion-label>
                  <!-- <ion-input type="text" placeholder="" formControlName="startTime" clearInput autocapitalize="word" inputmode="text"></ion-input> -->
                  <ion-datetime [displayFormat]="stash.pickDatetime.format" [min]="stash.pickDatetime.min" [max]="stash.pickDatetime.max" minuteValues="0,15,30,45"
                  [value]="stash.pickDatetime.value" (ionChange)="gameTimeChanged($event)"
                  ></ion-datetime>
                </ion-item>
                <div class="error-container">
                  <ng-container *ngFor="let validation of validation_messages.startTime">
                    <div class="error-message" *ngIf="gameForm.get('startTime').hasError(validation.type) && (gameForm.get('startTime').dirty || gameForm.get('startTime').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      <span>{{ validation.message }}</span>
                    </div>
                  </ng-container>
                </div>
                <!-- <ion-item class="input-item" color="medium">
                  <ion-label position="stacked">Game Time</ion-label>
                  <ion-input type="text" readonly="true" placeholder="" formControlName="startTime" clearInput autocapitalize="word" inputmode="text"></ion-input>
                </ion-item>
                <div class="error-container">
                  <ng-container *ngFor="let validation of validation_messages.startTime">
                    <div class="error-message" *ngIf="gameForm.get('startTime').hasError(validation.type) && (gameForm.get('startTime').dirty || gameForm.get('startTime').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      <span>{{ validation.message }}</span>
                    </div>
                  </ng-container>
                </div> -->


                <ion-item class="input-item">
                  <ion-label position="stacked">Video Link</ion-label>
                  <ion-textarea class="url-wrap" type="url" inputmode="url" rows="2" auto-grow="true"
                  placeholder="The Zoom/Google Meet link all players will join" formControlName="chatRoom" clearInput></ion-textarea>
                </ion-item>
                <div class="error-container">
                  <ng-container *ngFor="let validation of validation_messages.chatRoom">
                    <div class="error-message" *ngIf="gameForm.get('chatRoom').hasError(validation.type) && (gameForm.get('chatRoom').dirty || gameForm.get('chatRoom').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      <span>{{ validation.message }}</span>
                    </div>
                  </ng-container>
                </div>
              </div>



            
              <ion-list class="inputs-list" lines="full">
                <ion-item class="input-item">
                  <ion-label position="stacked">Game Master Name</ion-label>
                  <ion-input type="text" placeholder="Your all-powerful screen name" formControlName="name" clearInput autocapitalize="word" inputmode="text"></ion-input>
                </ion-item>
                <div class="error-container">
                  <ng-container *ngFor="let validation of validation_messages.name">
                    <div class="error-message" *ngIf="entryForm.get('name').hasError(validation.type) && (entryForm.get('name').dirty || entryForm.get('name').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      <span>{{ validation.message }}</span>
                    </div>
                  </ng-container>
                </div>


                <ion-item class="input-item">
                  <ion-label position="stacked">Team Name A</ion-label>
                  <ion-input type="text" placeholder="like Blue Team" formControlName="teamA" clearInput autocapitalize="words" inputmode="text"></ion-input>
                </ion-item>
                <div class="error-container">
                  <ng-container *ngFor="let validation of validation_messages.team">
                    <div class="error-message" *ngIf="entryForm.get('teamA').hasError(validation.type) && (entryForm.get('teamA').dirty || entryForm.get('teamA').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      <span>{{ validation.message }}</span>
                    </div>
                  </ng-container>
                </div>
                
                <ion-item class="input-item">
                  <ion-label position="stacked">Team Name B</ion-label>
                  <ion-input type="text" placeholder="and Red Team" formControlName="teamB" clearInput autocapitalize="words" inputmode="text"></ion-input>
                </ion-item>
                <div class="error-container">
                  <ng-container *ngFor="let validation of validation_messages.team">
                    <div class="error-message" *ngIf="entryForm.get('teamB').hasError(validation.type) && (entryForm.get('teamB').dirty || entryForm.get('teamB').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      <span>{{ validation.message }}</span>
                    </div>
                  </ng-container>
                </div>
                

                <ion-item-divider></ion-item-divider>          
              </ion-list>
          
              <ion-button class="login-btn" type="submit" expand="block" [disabled]="!entryForm.valid">Submit</ion-button>
            </form>
            
            
            </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
