 <ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="user">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label class="tab-title">Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="games" class="fish">
      <ion-icon src="assets/icon/fish.svg"></ion-icon>
      <!-- <ion-label class="tab-title">Games</ion-label> -->
    </ion-tab-button>
    <ion-tab-button tab="game" [disabled]="!stash.gameId">
      <!-- <ion-icon name="game-controller"></ion-icon> -->
      <ion-icon src="assets/icon/favicon_package_v0.16/fishbowl.svg"></ion-icon>
      <!-- <ion-label class="tab-title">Game</ion-label> -->
    </ion-tab-button>        
  </ion-tab-bar>
</ion-tabs>
