app-countdown-timer {
  --countdown-fill-border: none;
  --countdown-fill-border-radius: 10px;
  --countdown-fill-background: #FFFFFF;
  --countdown-fill-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.2);
}
app-countdown-timer {
  --countdown-margin: 4px;
  --countdown-padding: 4px;
  --countdown-time-margin: 4px;
  --countdown-time-padding: 4px;
  --countdown-inner-time-margin: 2px;
  --countdown-inner-time-padding: 0px;
}

app-countdown-timer {
  background-color: transparent;
  --countdown-padding: 10px;
  --countdown-time-margin: 0px 4px;
  --countdown-time-padding: 10px 10px;
  --countdown-fill-border: none;
  --countdown-fill-border-radius: 10px;
  --countdown-fill-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.2);
  --countdown-value-font-size: 1.5em;
  --countdown-value-font-weight: 500;
}

app-countdown-timer {
  --countdown-fill-background: var(--ion-color-tertiary);
  --countdown-value-color: var(--ion-color-light);
  --countdown-unit-color: var(--ion-color-light);
}

ion-list.wide {
  --inner-padding-end: 0;
  ion-item {
    --inner-padding-end: 0;
    ion-button[slot="end"] {
      margin-inline-start: 4px;
    }
  }
  &.toggle-hide {
    padding: 0;
  }
}

ion-col > ion-button.taller {
  --padding-top: var(--ion-padding, 16px);
  --padding-bottom: var(--ion-padding, 16px);
  height: 100%;
}

.team-round.spotlight {
  background-color: rgba(var(--ion-color-success-rgb), 0.5);
  &.even {
    background-color: rgba(var(--ion-color-tertiary-rgb), 0.5);
  }
}

ion-card-content{
  ion-item {
    --padding-start: 0;
  }

  .spotlight {
    height: 5em;
  }

  .game-countdown {
    .game-time {
      padding: 20px 0;
    }
  }

  .game-controls {
  
    .range-list {
      background-color: var(--ion-color-lightest);
  
      .range-item {
        --ion-grid-column-padding: 0px;
  
        padding-top: var(--page-margin);
        padding-inline-start: var(--page-margin);
        padding-inline-end: var(--page-margin);
        // box-shadow at the top
        box-shadow: inset 0 6px 3px -8px  var(--ion-color-darkest);
  
        .range-header {
          display: flex;
          justify-content: space-between;
          padding-bottom: calc(var(--page-margin) / 2);
  
          .range-value {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0.2px;
            color: var(--ion-color-medium);
          }
  
          .range-label {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.2px;
            color: var(--ion-color-medium);
          }
        }
  
        .range-control {
          // override the pin color
          --ion-text-color: var(--ion-color-medium);
  
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    }      
    .range-label.ios {
      font-size: 11px;
      align-self: flex-start;
    }
    .range-value {
      --padding-start: 2px;
    }
  }  

  .user-controls {
    ion-row.ion-align-items-center * {
      vertical-align: middle;
    }
  }

  .game-summary {
    ion-row.ion-align-items-center * {
      vertical-align: middle;
    }
    .scoreboard {
      margin-top: 8px;

      .on-the-spot {
        background-color: var(--ion-color-success);
        // color: var(--ion-color-light);
        border-radius: 4px;
        ion-note {
          color: var(--ion-color-dark);
        }
        &.even {
          background-color: var(--ion-color-tertiary);
        }
      }
    }
    .spotlight{
      &:not(.on-the-spot) {
        --background: var(--ion-color-medium);
      }
      &.on-the-spot{
        --background: var(--ion-color-success);
      } 
      &.on-the-spot.even {
        --background: var(--ion-color-tertiary);
      }

    }
  }

  .teleprompter {
    ion-item.short {
      --min-height: 24px;
      > *{
        margin:2px auto;
      }
    }
    ion-item.secret-word {
      border-radius: 10px;
      ion-label {
        min-height: 180px;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0.75em 0;
        line-height: 1;
        font-size: 3em;
        margin: 0;
        border-radius: 10px;
        cursor: default;
      }
    }
    ion-button {
      height: 5em;
    }

    .ion-text-wrap {
      text-overflow: unset;
    }
  }

  .round-scores {

    ion-row.wide {
      ion-col {
        & > * {
          --min-height: 36px;
          --inner-padding-top: 0;
          --inner-padding-bottom:0;
        }
        ion-item {
          --padding-start: 6px;
          ion-icon[slot=start] {
            margin-inline-end: 6px;
          }
          ion-label {
            margin-inline-end:0;
          }
        }
        ion-icon {
          margin-top: 6px;
          margin-bottom: 6px;
        }
        ion-label {
          margin-top: 6px;
          margin-bottom: 5px;
        }
      }
      ion-col:nth-child(even) {
        ion-item {
          --inner-padding-end: 0;
        }
      }
    }

  }


  .timer-controls {
    margin: 20px auto 0;
    .wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    ion-button {
      flex: 1;
      width: 100%;
      // height: 5em;
    }
    ion-button#play-timer {
      flex: 0 75%;
      z-index: 100;
    }
    
    .animated app-countdown-timer {
      --ion-color-base: var(--ion-color-danger) !important;
      --countdown-fill-background: var(--ion-color-danger) !important;
    }


    // .paused {
    //   &#play-timer {
    //     --ion-color-base: var(--ion-color-warning) !important;
    //   }
    // }
    :not(.is-ticking) {
      .when-ticking {
        display: none;
      }
      .when-not-ticking{
        display: inline;
      }
      &.pause {
        &#play-timer {
          --ion-color-base: var(--ion-color-warning) !important;
        }
      }
    }
    .is-ticking {
      .when-ticking {
        display: inline;
      }
      .when-not-ticking{
        display:none;
      }
    }


    app-countdown-timer {
      width: 100%;
      font-size: 2em;
      --countdown-time-margin: 0px;
      --countdown-margin: 0;
      --countdown-padding: 0;
      
    }
  }  
}

.on-the-spot {
  .game-summary {
    .hide-under-spotlight {
      display: none;
    }
  }
  .timer-controls {
    ion-button {
      height: 5em;
    }
  }
}





.moderator-control-panel {
  ion-card-content ion-list {
    padding-bottom: 0px;
  }
  .game-controls-container {
    .spotlight {
      height: 36px;
    }
    // .teleprompter {}
    .timer-controls {
      margin: 0;
      ion-button#play-timer {
        flex: 0 41%;
        z-index: 100;
      }
      app-countdown-timer {
        --countdown-value-font-size: 1em;
        --countdown-fill-border-radius: 4px;
        --countdown-time-height: 36px;
        margin: 4px 2px;
        flex: 1;
        font-size: 1em;
        .time {
          min-height: 1em;
          height: 36px;
        }
      }
      ion-button.volume {
        flex: 0 10%;
      }
    }
  }

  .game-check-in {
    .player .name {
      opacity: 1 !important;
    }
  }
}



//  extend animate.scss

@-webkit-keyframes longWobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  5% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  10% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  15% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  20% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  25% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  37.5% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  45% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  55% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  65% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes longWobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  5% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  10% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  15% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  20% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  25% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }

  37.5% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  45% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  55% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  65% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.long-wobble {
  -webkit-animation-name: longWobble;
  animation-name: longWobble;
}
