<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <!-- <ion-icon slot="start" size="large" src="assets/icon/favicon_package_v0.16/fishbowl.svg"></ion-icon> -->
      Game Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- grid mode -->
  <ion-grid no-padding class="team-round" [class.spotlight]="spotlight?.teamName && player?.teamName==spotlight.teamName">
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-sm="8" size-md="6"  *ngIf="isModerator()">
          <ion-card>
            <ion-card-header color="dark">      
              <ion-card-title>
                Game Controls for <ion-text color="tertiary">
                  {{game.label}}
                </ion-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div *ngIf="stash.activeGame; else preGameAdmin">
              <ion-list class="game-controls wide">
                <ion-item>
                  <ion-button size="small" color="primary" 
                  [disabled]="!!game.rounds && (game.rounds | keyvalue).length==3" (click)="doCheckInClick()">Check-In</ion-button>
                  <ion-button size="small" color="primary" 
                  [disabled]="!!game.rounds && (game.rounds | keyvalue).length==3" (click)="loadRoundClick()">Load Rounds</ion-button>
                  <ion-button size="small" color="success" slot="end"
                  [disabled]="!game.rounds || !!game.activeRound || game.complete" (click)="beginGameRoundClick()">Begin Round</ion-button>
                </ion-item>
                <ion-item>
                  <ion-button size="small" color="tertiary" 
                  [disabled]="!game.rounds || !game.activeRound" (click)="nextPlayer()">Next Player</ion-button>
                  <ion-button size="small" color="tertiary" slot="end"
                  [disabled]="!game.rounds || !game.activeRound" (click)="nextPlayer(false)">Skip Player</ion-button>
                </ion-item>
                <ion-item>
                  <!-- <ion-label position="stacked"></ion-label> -->
                  <ion-note class="range-label">Timer</ion-note>
                  <ion-badge class="range-value" color="secondary">{{initialTimerDuration}}s</ion-badge>
                  <ion-range class="range-control" 
                      slot="end"

                      [value]="initialTimerDuration"
                      min="5" max="60" step="5"  color="secondary" 
                      (ionChange)="onTimerRangeChange($event)">
                      <ion-label slot="start">5</ion-label>
                      <ion-label slot="end">60</ion-label>
                    </ion-range>
                </ion-item>
              </ion-list>

              <ion-list class="game-admin ion-padding-top wide">
                <ion-item lines="full">
                  <ion-button size="small" color="success" (click)="doGameSettings()">
                    <ion-icon name="settings" slot="start"></ion-icon>
                    Settings
                  </ion-button>
                  <ion-button  size="small" color="danger" (click)="resetGameClick($event)"  slot="end">
                    <ion-icon name="warning" slot="start"></ion-icon>
                    Reset Game
                  </ion-button>
                </ion-item>
              </ion-list>


              <ion-list class="game-check-in wide">
                <ion-item lines="none">
                  <ion-label>Player Check-In</ion-label>
                  <ion-toggle color="tertiary" [checked]="stash.showCheckInDetails"
                  (click)="toggleStashClick('showCheckInDetails', $event)"></ion-toggle>
                </ion-item>
                

                <ng-container *ngIf="stash.showCheckInDetails">
                  <ion-item *ngFor="let p of stash.playersSorted">
                    <ion-icon slot="start" 
                    [color]="checkInAction(p[0], game)=='~done' && 'success'"
                    [name]="checkInAction(p[0], game)=='~done' ? 'checkbox' : 'close-circle-outline'"></ion-icon>
                    <ion-label [color]="checkInAction(p[0], game)=='~show' && 'medium'" >
                      {{p[1]}}
                      <ion-note class="ion-float-right" *ngIf="isModerator(p[0])">moderator</ion-note>
                    </ion-label>
                    <ion-button slot="end" *ngIf="checkInAction(p[0], game)!='~done'"
                    [color]="checkInAction(p[0], game)=='~hide' ? 'danger' : 'medium'" 
                    [disabled]="game.activeRound"
                    (click)="hidePlayerClick(p[0], checkInAction(p[0], game))">
                      {{game.checkIn[p[0]]===false ? 'un-hide' : 'hide'}}
                    </ion-button>
                  </ion-item>
                  <ion-item>
                    <ion-button size="small" color="primary" 
                  [disabled]="!!game.rounds && (game.rounds | keyvalue).length==3" (click)="loadRoundClick()">Load Rounds</ion-button>
                  </ion-item>
                </ng-container>                
              </ion-list>



              <ion-list class="teleprompter-container wide" *ngIf="true">
                <ion-item lines="none">
                  <ion-label>Game Controls</ion-label>
                  <ion-toggle color="tertiary" [checked]="stash.showTelepromter"
                   (click)="toggleStashClick('showTelepromter', $event)"></ion-toggle>
                </ion-item>
                
                <ng-container *ngIf="stash.showTelepromter">
                  <div class="teleprompter"  *ngIf="(gamePlayWatch?.gamePlay$ | async) as gamePlay">
  
                    <p class="ion-float-right"><ion-note>Round:</ion-note>&nbsp;<b>{{roundDesc[activeRound?.round]}}</b></p>
                    <p><ion-note>word</ion-note></p>
  
                    <ion-item color="medium" expand="block" 
                    (click)="beginPlayerRoundClick()"
                    >
                      <ion-label class="ion-text-wrap ion-text-center">
                        {{gamePlay.word || (gamePlay.isTicking ? '[done]' : '[ready]')}}
                      </ion-label>
                    </ion-item>
                    <ion-grid class="ion-no-padding"><ion-row>
                      <ion-col size=5>
                        <ion-button color="danger" expand="block" 
                        (click)="onWordActionClick('PASS')" [disabled]="gamePlay.timerPausedAt || !gamePlay.isTicking"
                        >PASS</ion-button>
                      </ion-col>
                      <ion-col size=7>
                        <ion-button color="success" expand="block"
                        (click)="onWordActionClick('OK')" [disabled]="gamePlay.timerPausedAt || !gamePlay.playerRoundBegin"
                        >OK</ion-button>
                      </ion-col>
                    </ion-row></ion-grid>
  
                  </div>
                </ng-container>
              </ion-list>                  


            </div>

            <ng-template #preGameAdmin>
              <ion-list class="ion-padding-top">
                  <ion-button color="success" expand="block" (click)="doGameSettings()">
                    <ion-icon name="settings" slot="start"></ion-icon>
                    Game Settings
                  </ion-button>
              </ion-list>
            </ng-template>        

            </ion-card-content>
          </ion-card>
        </ion-col>













        <ion-col size="12" size-sm="8" size-md="6">
          <ion-card  *ngIf="game">
            <ion-card-header color="tertiary">      
              <ion-card-title>
                {{game.label}}
              </ion-card-title>
              <ion-card-subtitle>
                Fishbowl
              </ion-card-subtitle>
            </ion-card-header>
              
            <ion-card-content [ngClass]="{'on-the-spot': stash.onTheSpot}">

              <div class="game-countdown"  *ngIf="!stash.activeGame">
                <ion-item-divider class="ion-margin-top">
                  <ion-note>countdown to game time</ion-note>
                </ion-item-divider>
                <div class="game-time ion-text-center">
                  <app-countdown-timer fill="time" [end]="game.gameTime" [units]="{from: 'day', to: 'second'}" stopAtZero="true"
                  (onBuzz)="onGameTime($event)"
                  ></app-countdown-timer>
                  <ion-text  color="dark">
                    Game Time: {{ game.gameTime | appTimeAgo:"ddd, MMM D @ h:mma" }} 
                  </ion-text>
                </div>
              </div>

            <ion-list class="ion-no-padding">

              <div  *ngIf="stash.activeGame">


              <div class="user-controls">
                <ion-item-divider class="ion-margin-top">
                  <ion-note>player profile</ion-note>
                </ion-item-divider>

                <ion-grid class="ion-no-padding">
                  <ion-row  class="ion-no-padding">

                    <ion-col size=5>
                        <ion-label>
                          <ion-note>player</ion-note> 
                        </ion-label>
                        <ion-badge color="light" class="ion-padding-horizontal">{{player.displayName}}</ion-badge>
                    </ion-col>
                    <ion-col size=5>
                        <ion-label>
                          <ion-note>team</ion-note> 
                        </ion-label>
                        <ion-badge color="light" class="ion-padding-horizontal">{{player.teamName}}</ion-badge>
                    </ion-col>
                    <ion-col size=2>
                      <ion-item class="ion-no-padding" lines="none">
                        <ion-button color="dark" size="small" [disabled]="stash.activeGame && 0" 
                        (click)="doSettings()">
                          <ion-icon name="settings"> </ion-icon>
                        </ion-button>                           
                      </ion-item>
                    </ion-col>

                  </ion-row>
                </ion-grid>

              </div>                  
            
              <div class="game-summary">
                <ion-item-divider class="ion-margin-top">
                  <ion-note>game summary</ion-note>
                </ion-item-divider>
                <ion-item>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-button expand="block" color="success">
                          <ion-icon name="videocam" slot="start"></ion-icon>
                          <a [href]="game.chatRoom" [title]="game.chatRoom" target="_blank">Open Video Chat Room</a>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                    <ion-row class="hide-under-spotlight">
                      <ion-col size=6>
                        <ion-item>
                          <ion-label><ion-note>round</ion-note></ion-label>
                          <ion-badge color="light" class="ion-padding-horizontal">{{activeRound?.round || "––"}}</ion-badge>
                        </ion-item>
                      </ion-col>
                      <ion-col size=6>
                        <ion-item>
                          <ion-label>
                            <ion-note>players</ion-note> 
                          </ion-label>
                          <ion-badge color="light" class="ion-padding-horizontal">{{game.playerCount}}</ion-badge>
                        </ion-item>
                      </ion-col>
                      <ion-col size=6>
                        <ion-item>
                          <ion-label>
                            <ion-note>words remaining</ion-note> 
                          </ion-label>
                          <ion-badge color="light" class="ion-padding-horizontal">{{stash.wordsRemaining}}</ion-badge>
                        </ion-item>
                      </ion-col>
                      <ion-col size=6>
                        <ion-item>
                          <ion-label><ion-note>duration</ion-note></ion-label>
                          <ion-badge color="light" class="ion-padding-horizontal">
                            {{activeRound?.startTimeDesc*-1 | duration | date:"hh:mm:ss"}}
                          </ion-badge>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" [class.on-the-spot]="spotlight?.teamName==game.teamNames[0]">
                        <ion-note>{{game.teamNames[0]}}</ion-note>
                        <ion-badge class="ion-float-right ion-padding-horizontal ion-margin-horizontal">
                          {{(scoreboard?.total[game.teamNames[0]])?.points || 0}} 
                        </ion-badge>
                      </ion-col>
                      <ion-col size="6"  [class.on-the-spot]="spotlight?.teamName==game.teamNames[1]">
                        <ion-note class="ion-float-right">{{game.teamNames[1]}}</ion-note>
                        <ion-badge class="ion-float-left ion-padding-horizontal ion-margin-horizontal">
                          {{(scoreboard?.total[game.teamNames[1]])?.points || 0}}
                        </ion-badge>
                      </ion-col>
                    </ion-row>
                    <ion-row><ion-col>
                      <p><ion-note>on the spot</ion-note></p>
                      <ion-button color="success" expand="block" class="spotlight" 
                      [color]="stash.onTheSpot ? 'success' : 'medium'"
                      [class.on-the-spot]="stash.onTheSpot" 
                      >
                        <ion-icon name="person" slot="start"></ion-icon>
                        {{spotlight?.label}}
                      </ion-button>
                    </ion-col></ion-row>
                  </ion-grid>
                </ion-item>
              </div>

              <div class="teleprompter" *ngIf="stash.onTheSpot">
                <ion-item-divider class="ion-margin-top">
                  <ion-note>on the spot</ion-note>
                </ion-item-divider>
                <ng-container *ngIf="(gamePlayWatch?.gamePlay$ | async) as gamePlay">

                  <p class="ion-float-right"><ion-note>Round:</ion-note>&nbsp;<b>{{roundDesc[activeRound?.round]}}</b></p>
                  <p><ion-note>word</ion-note></p>

                  <ion-item color="medium" expand="block" 
                  (click)="beginPlayerRoundClick()"
                  >
                    <ion-label class="ion-text-wrap ion-text-center">
                      {{gamePlay.word || (gamePlay.isTicking ? '[done]' : '[ready]')}}
                    </ion-label>
                  </ion-item>
                  <ion-grid class="ion-no-padding"><ion-row>
                    <ion-col size=5>
                      <ion-button color="danger" expand="block" 
                      (click)="onWordActionClick('PASS')" [disabled]="gamePlay.timerPausedAt || !gamePlay.isTicking"
                      >PASS</ion-button>
                    </ion-col>
                    <ion-col size=7>
                      <ion-button color="success" expand="block"
                      (click)="onWordActionClick('OK')" [disabled]="gamePlay.timerPausedAt || !gamePlay.playerRoundBegin"
                      >OK</ion-button>
                    </ion-col>
                  </ion-row></ion-grid>

                </ng-container>
              </div>

              <div class="round-scores" *ngIf="activeRound">
                <ion-item-divider class="ion-margin-top">
                  <ion-note>round scores</ion-note>
                </ion-item-divider>
                <ion-grid class="ion-no-padding" *ngIf="(gamePlayWatch?.gamePlay$ | async) as gamePlay">

                  <ion-row class="ion-no-padding wide">
                    <ion-col size="6" *ngFor="let log of (gamePlay.log | keyvalue)">
                      <ion-item >
                        <ion-icon slot="start" 
                          [name]="log.value.result ? 'checkbox' : 'close-circle'" 
                          [color]="log.value.result ? 'success' : 'danger'"></ion-icon>
                        <ion-label  class="ion-text-wrap">{{log.value.result ? log.value.word : '[PASS]' }}</ion-label>
                      </ion-item>
                    </ion-col>
                  </ion-row>

                </ion-grid>
              </div>
              
              <div  class="timer-controls ion-margin-bottom" *ngIf="(gamePlayWatch?.gamePlay$ | async) as gamePlay">
                <ion-item-divider class="ion-margin-top">
                  <ion-note>play timer</ion-note>
                </ion-item-divider>
                <div #animateTarget class="wrapper">
                  <ion-button id="play-timer" expand="block" color="success" [disabled]="stash.onTheSpot==false" 
                    (click)="onTimerClick()"   
                    [class.is-ticking]="gamePlay?.isTicking"
                    [class.pause]="gamePlay?.timerPausedAt"
                    >
                    <span class="when-not-ticking">{{gamePlay?.timerPausedAt || gamePlay.timerDuration || initialTimerDuration}}s</span>
                    <!-- <ion-spinner class="when-ticking" name="circles" color="dark"></ion-spinner> -->
                    <ion-icon name="pause" color="dark" *ngIf="gamePlay?.isTicking && !gamePlay?.timerPausedAt"></ion-icon>
                  </ion-button>
                  <ion-button color="light" (click)="toggleVolumeIcon()">
                    <ion-icon [name]="stash.audioVolumeIcon" >
                      <audio #timerAudio expand="block" color="success" (click)="preload()"></audio>
                    </ion-icon>
                  </ion-button>
                  <app-countdown-timer #countdownTimer fill="time" [duration]="gamePlay?.timer" [units]="{from: 'second', to: 'second'}"
                    [stopAtZero]="true" (onBuzz)="onTimerDone($event)"
                  >[done]</app-countdown-timer>
                </div>
              </div>
              </div>
          

            </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
