<app-team-roster
  [gameDict$]="gameDict$"
></app-team-roster>

<ng-container *ngIf="gameSummary">
  <ion-item-divider class="ion-margin-top">
    <ion-label slot="start">
      <ion-note>Game Summary</ion-note>
    </ion-label>
  </ion-item-divider>

  <ion-grid>
    <ion-row class="header wide">
      <ion-col size="6" class="even inline-text-wrap">
          <ion-icon name="people-circle-outline" class="ion-hide-sm-down"></ion-icon>
          <ion-badge color="tertiary" class="ion-float-right">
            {{gameSummary.teamNames[0]}} 
          </ion-badge>
      </ion-col>
      <ion-col size="6" class="odd inline-text-wrap">
          <ion-badge color="success">
            {{gameSummary.teamNames[1]}}
          </ion-badge>
          <ion-icon name="people-circle-outline" class="ion-float-right ion-hide-sm-down"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="wide"
      *ngFor="let kv of (gameSummary.scoreboard | keyvalue); let i=index"
      [className]="kv.key"
    >
      <ion-col size="6">
        <ion-note>{{kv.key}}</ion-note>
        <ion-badge class="ion-float-right ion-padding-horizontal ion-margin-horizontal even" 
        [color]="winnersByRound[kv.key]==gameSummary.teamNames[0] ? 'tertiary' : 'dark'">
          {{(kv.value[gameSummary.teamNames[0]])?.points || 0}} 
        </ion-badge>
      </ion-col>
      <ion-col size="6">
        <ion-note class="ion-float-right">{{kv.key}}</ion-note>
        <ion-badge class="ion-float-left ion-padding-horizontal ion-margin-horizontal odd" 
        [color]="winnersByRound[kv.key]==gameSummary.teamNames[1] ? 'success' : 'dark'">
          {{(kv.value[gameSummary.teamNames[1]])?.points || 0}} 
        </ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="success" expand="block" size="large">GAME OVER</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>