<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Game Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col class="ion-text-center">
        <img class="ion-margin-top" width="64px" height="64px" src="assets/icon/favicon_package_v0.16/android-chrome-192x192.png">
      </ion-col>
    </ion-row> -->
    <ion-row class="ion-justify-content-center">
      <app-overview></app-overview>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center social-buttons">
      <ion-col class="ion-text-center">
        <ion-button fill="clear" disabled="true">
          <ion-icon src="assets/icon/favicon_package_v0.16/fishbowl.svg"></ion-icon>
        </ion-button>
        <ion-button fill="clear" href="https://www.facebook.com/TheFishbowlGame/" target="_blank" >
          <ion-icon name="logo-facebook" color="facebook"></ion-icon>
        </ion-button>
        <ion-button fill="clear" disabled="true" >
          <ion-icon name="logo-instagram" color=""></ion-icon>
        </ion-button>
        <ion-button fill="clear" disabled="true" >
          <ion-icon name="logo-twitter" color=""></ion-icon>
        </ion-button>
      </ion-col>      
    </ion-row>
  </ion-grid>

</ion-content>