
// TODO: set in variables.css
:root .help-modal {
  --background: var(--ion-background-color, transparent);
  .modal-wrapper {
    --height: 100%;
    --width:100%;
  }
}
//  end TODO


ion-grid.center-grid {

  background-color: rgba(0,0,0,0.3);

  margin: 0px;
  &, & > ion-row {
    height: 100%;
  }
  .content {
    background-color: rgba(0,0,0,0.8);
    p, h1 {
      margin-bottom: 0.8em;
    }
  }

}
ion-grid.center-grid {
  ion-card.interstitial {
    // background-color: var(--ion-color-light);
    background-color: white;

    .game-summary, .round-scores {
      .on-the-spot {
        background-color: var(--ion-color-success);
        // color: var(--ion-color-light);
        border-radius: 4px;
        ion-note {
          color: var(--ion-color-dark);
        }
      }

    }




    .game-summary {
      .header {
        margin: 16px 0;
        ion-item {
          --padding-start: 0;
          --padding-end: 0;
        }
      }
      .round1, .round2, .round3 {
        margin-bottom: 4px;
      }
      .total {
        margin: 16px 0;
        padding-top: 16px;
        padding-bottom: 16px;
        ion-col > * {
          font-size: 1.4em;
        }
      }
    }


  }

  .player-round-complete {
    .round-scores {
      .team-name {
        border-radius: 4px;
      }
    }   
  }

}