
// TODO: set in variables.css
:root .help-modal {
  --background: var(--ion-background-color, transparent);
  .modal-wrapper {
    --height: 100%;
    --width:100%;
  }
}
//  end TODO



ion-grid.center-grid {

  background-color: rgba(0,0,0,0.6);

  margin: 0px;
  &, & > ion-row {
    height: 100%;
  }
  .content {
    background-color: rgba(0,0,0,0.8);
    p, h1 {
      margin-bottom: 0.8em;
    }
  }

}

.rounded {
  border-radius: 10px;
}

// in-game interstitials
ion-card.interstitial {
  // background-color: var(--ion-color-light);
  background-color: white !important;

  .game-summary {
    .on-the-spot {
      background-color: var(--ion-color-success);
      // color: var(--ion-color-light);
      border-radius: 4px;
      ion-note {
        color: var(--ion-color-dark);
      }
    }

  }


  .game-summary {
    .header {
      margin: 16px 0;
      ion-item {
        --padding-start: 0;
        --padding-end: 0;
      }
    }
    .round1, .round2, .round3 {
      margin-bottom: 4px;
    }
    .total {
      // deprecate?
      margin: 16px 0;
      padding-top: 16px;
      padding-bottom: 16px;
      ion-col > * {
        font-size: 1.4em;
      }
    }
  }


}

.player-round-complete {
  .round-scores {
    .spotlight-player {
      color: var(--ion-color-dark);
      font-weight: 700;
    }
  }

  ion-row.wide {
    ion-col {
      & > * {
        --min-height: 36px;
        --inner-padding-top: 0;
        --inner-padding-bottom:0;
      }
      ion-item {
        --padding-start: 6px;
        ion-icon[slot=start] {
          margin-inline-end: 6px;
        }
        ion-label {
          margin-inline-end:0;
        }
      }
      ion-icon {
        margin-top: 6px;
        margin-bottom: 6px;
      }
      ion-label {
        margin-top: 6px;
        margin-bottom: 5px;
      }
    }
    ion-col:nth-child(even) {
      ion-item {
        --inner-padding-end: 0;
      }
    }
  }

  .scoreboard {
    .on-the-spot.even {
      background-color: var(--ion-color-tertiary);
    }
    .on-the-spot.odd {
      background-color: var(--ion-color-success);
    }
    ion-badge {
      min-width: 45px;
    }
  }
  
}


.game-round-complete {
  .game-summary {
    .header {
      ion-icon {
        font-size: 1.5em;
      }
      ion-badge {
        --padding-start: 16px;
        --padding-end: 16px;
      }
    }
  }
}

ion-card.pre-game {
  background-color: black !important;
  .title {
    h1 {
      margin: 8px 0px;
    }
  }

  ion-card-content {
    min-height: 320px;
    padding-top: 26px;
    padding-bottom: 26px;
    .content-header {
      margin-bottom: 32px;
    }
    .hero {
      margin: 32px 20px;
      .player-name{
        font-size: 2.5em;
      }
    }
  }


  &.player-welcome {
    ion-button.taller {
      --padding-top: var(--ion-padding, 16px);
      --padding-bottom: var(--ion-padding, 16px);
      height: 100%;
    }
  }
  .check-in {
  }


  &.begin-game-round {
    .rules {
      display: block;
      margin-bottom: 20px;
    }
    .circle-wrap {
      background-color: var(--ion-color-tertiary);
      color: var(--ion-color-dark);
      width: 5em;
      height: 5em;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 2em;
      text-align: center;
      position: relative;
      ion-text {
        font-size: 3em;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
      }
    }
    p {
      padding: 0 16px;
      font-size: 1.5em;
      color:var(--ion-color-light);
      text-align: center;
      &.text-align-center {
        text-align: center;
      }
      .bigger {
        font-size: 1.4em;
        line-height: 1em;
      }
    }
  }

}


.begin-player-round {
  p {
    color: var(--ion-color-light);
  }

  .player-callout {
    margin-bottom: 36px !important;
  }

  .begin-player-round-help {
    margin: 60px auto;
    .ready-button {
      min-height: 180px;
      line-height: 1;
      font-size: 3em;
      font-weight:400;
      text-transform: none;
    }
  }

  .image-wrap.ready-button-image {
    margin: 36px auto;
    text-align: center;
    max-width: 80%;
  }

}

.button-over-dark {
  // --box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
  --box-shadow: 0 3px 1px -2px rgba(255,255,255,0.5),0 2px 2px 0 rgba(255,255,255,0.4),0 1px 5px 0 rgba(255,255,255,0.4);
}