app-countdown-timer {
  --countdown-margin: 4px;
  --countdown-time-margin: 0px 4px;
  --countdown-inner-time-margin: 2px;
  --countdown-inner-time-padding: 0px;
  --countdown-padding: 10px;
  --countdown-time-padding: 10px 10px;
  --countdown-fill-border: none;
  --countdown-fill-border-radius: 10px;
  --countdown-fill-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.2);
  --countdown-value-font-size: 1.5em;
  --countdown-value-font-weight: 500;
  --countdown-fill-background: var(--ion-color-tertiary);
  --countdown-value-color: var(--ion-color-light);
  --countdown-unit-color: var(--ion-color-light);

  background-color: transparent;
}

.game-time {
  padding: 20px 0;
}

ion-card.game {
  &.spotlight {
    ion-card-content{
      background-color: rgba(var(--ion-color-success-rgb), 0.5);
    }
  }
}

ion-card {
  &.welcome, &.game-code {
    .header {
      font-size: 20px;
      font-weight: 700;
    }
  }
}


ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 99;
  right: 55px;
  bottom: 4px;
  background-color: rgba(var(--ion-color-success-rgb), 1);
  padding: 6px 16px;
  border-radius: 3px;
  color: var(--ion-color-dark);
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}
ion-fab-button[color="tertiary"][data-desc]::after {
  background-color: rgba(var(--ion-color-tertiary-rgb), 1);
}
ion-fab-button[color="warning"][data-desc]::after {
  background-color: rgba(var(--ion-color-warning-rgb), 1);
}

#game-code-form {
  text-align: center;
  .center-wrap {
    margin: 0 auto;
  }
  ion-input {
    --countdown-fill-border-radius: 10px;
    --countdown-fill-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.2);
    --countdown-fill-background: var(--ion-color-tertiary);
    --countdown-value-color: var(--ion-color-light);
    --placeholder-opacity: 0.2;
    --background: var(--countdown-fill-background);
    --padding-start: 5px;
    --padding-end: 5px;
    font-size: 3em;
    width: 20%;
    display: inline-block;
    text-align: center;
    margin: 4px;
    border-radius: var(--countdown-fill-border-radius);
    // background-color: var(--countdown-fill-background);
    box-shadow: var(--countdown-fill-shadow);
    color: var(--countdown-value-color);
  }
}