<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fishbowl
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- grid mode -->
  <ion-grid no-padding *ngIf="(games$ | async) as games">
    <!-- <ion-row *ngIf="games.length>5">
      <ion-searchbar showCancelButton="focus" debounce="1000" animated mode="ios"
      ></ion-searchbar>
    </ion-row> -->
    <ion-row>
        <ion-col size="12" size-sm="6" size-xl="4" *ngFor="let game of games, let i=index">
          <ion-card>
            <ion-card-header color="tertiary">
              <ion-card-title>
                {{game.label}}
              </ion-card-title>
              <ion-card-subtitle>
                Fishbowl
              </ion-card-subtitle>
            </ion-card-header>
              
            <ion-card-content>
              <div class="game-time ion-text-center">
                <app-countdown-timer fill="time" [end]="game.gameDateTime" [units]="{from: 'day', to: 'second'}"></app-countdown-timer>
                <ion-text  color="dark">
                  Game Time: {{ game.gameDateTime | appTimeAgo:"ddd, MMM D @ h:mma" }}
                </ion-text>
              </div>  
              <ion-item lines="none">
                <ion-label>players</ion-label>
                <ion-text slot="end" >{{game.playerCount || 0}}</ion-text>
                <!-- <ion-note slot="end"></ion-note> -->
              </ion-item>
              <ion-button expand="block" color="success" (click)="join(game, i)" >Join Game</ion-button>   
            </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
