<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fishbowls
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- grid mode -->
  <ion-grid no-padding *ngIf="(games$ | async) as games">
    <!-- <ion-row *ngIf="games.length>5">
      <ion-searchbar showCancelButton="focus" debounce="1000" animated mode="ios"
      ></ion-searchbar>
    </ion-row> -->
    <ion-row [class.ion-justify-content-center]="games.length==1">
        <ion-col size="12" size-sm="6" size-xl="4" *ngFor="let game of games, let i=index">
          <ion-card class="game">
            <ion-card-header [color]="isGameOver(game) ? 'success' : 'tertiary'">
              <ion-card-title>
                {{game.label}}
                <div class="ion-float-right inline-text-wrap">
                  <ion-badge  *ngIf="game.quickPlay" color="warning" >QuickPlay</ion-badge>
                  <ion-badge  *ngIf="!game.public" color="danger" >unlisted</ion-badge>
                  <ion-badge  *ngIf="isGameOver(game)" color="tertiary" >Game Over</ion-badge>
                  <ion-badge  *ngIf="isActive(game)" color="success" class="is-live">live</ion-badge>
                </div>
              </ion-card-title>
            </ion-card-header>
              
            <ion-card-content>
              <div class="game-time ion-text-center">
                <app-countdown-timer fill="time" [end]="game.gameTime" [units]="{from: 'day', to: 'second'}" stopAtZero="true"
                (onBuzz)="onGameTime($event)"
                ></app-countdown-timer>
                <ion-text  color="dark"  slot="footer">
                  Game Time: {{ game.gameTime | appTimeAgo:"ddd, MMM D @ h:mma" }}
                </ion-text>
              </div>  
              <ion-item lines="none">
                <ion-label class="inline-text-wrap">
                  <ion-note class="ion-margin-horizontal">players</ion-note>
                  <ion-badge color="tertiary" class="ion-padding-horizontal">{{game.playerCount || 0}}</ion-badge>
                </ion-label>
              </ion-item>
              <ion-button expand="block" [color]="!isGameOver(game) ? 'success':'tertiary'"
              (click)="doAction(game, i)"
              >{{ getCallToAction(game) }}</ion-button>   
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-sm="6" size-xl="4">
          <ion-card class="welcome">
            <ion-item color="success">
              <ion-avatar slot="start" size="large" >
                <img src="assets/icon/favicon_package_v0.16/fishbowl.svg">
              </ion-avatar>
              <ion-label class="ion-text-wrap">
                <h1 class="header">Welcome to Fishbowl</h1>
                <p><ion-note color="dark">The shelter-in-place guessing game for all ages</ion-note></p>
              </ion-label>
            </ion-item>   
            <ion-card-content>
              <ion-item lines="none">
                <ion-label class="ion-text-wrap">
                  <p>
                    Fishbowl is a social game designed to be played at a social-distance. 
                    Grab a spot in any of the public games listed above. 
                    Or create your own game and invite your friends.
                  </p>
                </ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-label class="ion-text-wrap">
                  <p>
                    To learn more about the game, click here:
                  </p>
                </ion-label>
                <ion-button color="tertiary" expand="block" slot="end"
                routerDirection="forward" [routerLink]="['/app/overview']">
                  Game Overview
                </ion-button>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>

    </ion-row>

    <ion-row *ngIf="stash.showSocialButtons"
      class="ion-justify-content-center ion-align-items-center social-buttons">
      <ion-col class="ion-text-center">
        <ion-button fill="clear" routerDirection="forward" [routerLink]="['/app/overview']">
          <ion-icon src="assets/icon/favicon_package_v0.16/fishbowl.svg"></ion-icon>
        </ion-button>
        <ion-button fill="clear" href="https://www.facebook.com/TheFishbowlGame/" target="_blank" >
          <ion-icon name="logo-facebook" color="facebook"></ion-icon>
        </ion-button>
        <ion-button fill="clear" disabled="true" >
          <ion-icon name="logo-instagram" color=""></ion-icon>
        </ion-button>
        <ion-button fill="clear" disabled="true" >
          <ion-icon name="logo-twitter" color=""></ion-icon>
        </ion-button>
      </ion-col>      
    </ion-row>

  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button type="button" show="true" color="success" 
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="success"  data-desc="Schedule a Game"
        routerDirection="forward" [routerLink]="['/app/game/new/settings']" >
        <ion-icon name="calendar-outline" color="dark"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button color="success" data-desc="Play Now"
        routerDirection="forward" [routerLink]="['/app/game/new/settings', {now:1}]" >
        <ion-icon name="game-controller-outline" color="dark"></ion-icon>
      </ion-fab-button> -->
      <ion-fab-button color="warning" data-desc="[QuickPlay] Animal Pack!"
      routerDirection="forward" [routerLink]="['/app/game/new/settings', {quickPlay:'animals'}]" >
        <ion-icon name="game-controller-outline" color="dark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  
  </ion-fab>
</ion-content>
