ion-card.notes {
  .header {
    font-size: 28px;
    font-weight: 700;
  }

  p {
    margin-bottom: 8px;
    > * {
      vertical-align: middle;
    }
  }
  ol,li {
    font-size: 14px;
    color: #666666;
  }

  h2 {
    color: var(--ion-color-dark);
    font-weight: bold;
    &:not(:first) {
      margin-top: 16px;
    }
  }
  
}


.game-play {
  h2 {
    color: var(--ion-color-dark);
    font-weight: bold;
    &:not(:first) {
      margin-top: 16px;
    }
  }
}